html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to top, #223, #100);
    color: #fafaff;
    /*overflow: hidden;*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

h1 {
    font-size: 2.25rem;
}